<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>532533533988-pii30loa9fi238pvodr2g97ajhle27q9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.532533533988-pii30loa9fi238pvodr2g97ajhle27q9</string>
	<key>API_KEY</key>
	<string>AIzaSyC85laL92mQJOA_XD11S_8oh4Ciej6opWI</string>
	<key>GCM_SENDER_ID</key>
	<string>532533533988</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.todoRoute</string>
	<key>PROJECT_ID</key>
	<string>todo-17826</string>
	<key>STORAGE_BUCKET</key>
	<string>todo-17826.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:532533533988:ios:03f7b32a66036baa9527b1</string>
</dict>
</plist>